@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Área Restrita</h1>
    <p>
        Área reservada para Cadastro das pizzas e produtos da Pizzaria tradição.
    </p>
    <img src="~/assets/images/arearestrita.png" />
</div>
