@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutFront.cshtml";
}

    <section class="carousel slide cid-rXmP5BsxcF" data-interval="false" id="slider1-f">
        <div class="full-screen">
            <div class="mbr-slider slide carousel" data-keyboard="false" data-ride="carousel" data-interval="8000" data-pause="true">
                <ol class="carousel-indicators">                   
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item slider-fullscreen-image active" data-bg-video-slide="https://www.youtube.com/watch?v=KEA1cRVtw3Q&feature=youtu.be">
                        <div class="mbr-overlay"></div>
                        <div class="container container-slide">
                            <div class="image_wrapper">
                                <div class="carousel-caption justify-content-center">
                                    <div class="col-10 align-center">
                                        <h2 class="mbr-fonts-style display-1"><strong>Pizza boa é Tradição</strong></h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                    
                </div>                
            </div>
        </div>
    </section>

<section class="services1 cid-rSJUHwJ0XN mbr-parallax-background" id="services1-d">   
    <div class="container">
        <div class="row justify-content-center">
            <!--Titles-->
            <div class="title pb-5 col-12">
                <h2 class="align-left pb-3 mbr-fonts-style display-1">
                    <strong>
                        Clássicas
                    </strong>
                </h2>
                <h3 class="mbr-section-subtitle mbr-light mbr-fonts-style display-5">
                    <strong>
                        PROMOÇÃO
                    </strong><br><strong><em>(de segunda a quinta-feira)</em></strong>
                </h3>
            </div>
            <!--Card-1-->
            <div class="card col-12 col-md-6 p-3 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="~/assets/images/calabresa.jpeg" alt="Pizza de Calabresa" title="">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style display-5">
                            Calabresa
                        </h4>
                        <!--Btn-->
                        <div class="mbr-section-btn align-center"><a href="" class="btn btn-primary display-4">R$ 24,90 &nbsp;</a></div>
                    </div>
                </div>
            </div>
            <!--Card-2-->
            <div class="card col-12 col-md-6 p-4 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="~/assets/images/Quatro-queijos.png" alt="Pizza 4 queijos" title="">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style display-5">4 Queijos</h4>
                        <!--Btn-->
                        <div class="mbr-section-btn align-center"><a href="" class="btn btn-primary display-4">R$ 24,90</a></div>
                    </div>
                </div>
            </div>
            <!--Card-3-->
            <div class="card col-12 col-md-6 p-3 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="~/assets/images/mbr-506x337.png" alt="Pizza de Marguerita" title="">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style display-5">Marguerita</h4>
                        <!--Btn-->
                        <div class="mbr-section-btn align-center">
                            <a href="" class="btn btn-primary display-4">
                                R$ 24,90
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!--Card-4-->
            <div class="card col-12 col-md-6 p-3 col-lg-4 last-child">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="~/assets/images/mbr-506x378.jpeg" alt="Pizza de Bauru" title="">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style display-5">
                            Bauru
                        </h4>
                        <!--Btn-->
                        <div class="mbr-section-btn align-center">
                            <a href="" class="btn btn-primary display-4">
                                R$ 24,90
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!--Card-5-->
            <div class="card col-12 col-md-6 p-3 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="~/assets/images/Frango.png" alt="Pizza de Frango c/ catupiry" title="">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style display-5">
                            Frango c/ catupiry
                        </h4>
                        <!--Btn-->
                        <div class="mbr-section-btn align-center"><a href="" class="btn btn-primary display-4">R$ 24,90 &nbsp;</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
