@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutFront.cshtml";
}

<section class="carousel slide cid-s1kiOKoeTH" data-interval="false" id="slider2-1m">
    <div style='text-align:center'>
        <h3 class="mbr-section-title align-center mbr-fonts-style display-2">
            <strong>
                Quem Somos
            </strong>
        </h3>
        <p>
            A Pizzaria Tradição surgiu com o intuito de compartilhar felicidade através de nossos produtos, desfrutando do melhor que a<br>
            pizza tem a oferecer. Com muito amor e dedicação nossos funcionários econtribuintes estão sempre dispostos a melhor atendê-lo<br>
            dentro de nossos estabelecimentos ou no conforto de sua casa. Experimente nossa Pizza e você não irá se arrepender.
        </p>
        <img src="~/assets/images/frente.jpg" alt="Foto da Pizzaria Tradição">
    </div>
    <br>
</section>